@model ShopMates.ViewModels.System.Users.UserViewModels

@{
    ViewData["Title"] = "Details User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Detail User:<strong>[ @Html.DisplayFor(model => model.LastName) @Html.DisplayFor(model => model.FirstName) ]</strong></h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <a class="btn btn-primary" asp-controller="User" asp-action="ListUser">Back to List</a>
        </div>
        <div class="card-body col-lg-7">
            <dl class="row">
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Id) :
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Id)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.FirstName) :
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.LastName) :
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.LastName)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.PhoneNumber) :
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Email) :
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.UserName) :
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.UserName)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Dob) :
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Dob)
                </dd>
            </dl>
        </div>
    </div>
</div>
